<div class="row align-items-center">
    <div id="modalCadastro" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                <span aria-hidden="true" type="button" class="btn" data-dismiss="modal" data-bs-dismiss="modal" (click)="atualizaPagina()">&times;</span>
            </div>
            <div class="modal-body">
                <form #formRegistro="ngForm" (submit)="formRegistro.valid">
                  <div class="form-group">
                    <input type="email" required="true" name="email" class="form-control" placeholder="E-mail" [(ngModel)]="novoUsuario.email">
                  </div>
                  <div class="form-group">
                    <input type="text" required="true" name="nomeUsuario" class="form-control" placeholder="Nome de usuário" [(ngModel)]="novoUsuario.nomeUsuario">
                  </div>
                  <div class="form-group">
                    <input type="password" required="true" name="senha" class="form-control" placeholder="Senha" [(ngModel)]="novoUsuario.senha">
                  </div>
                  <div class="form-group">
                    <input type="password" required="true" name="confirmacaoSenha" class="form-control" placeholder="Confirme a senha" [(ngModel)]="novoUsuario.confirmacaoSenha">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <dih-alerta [mensagem]="'E-mail já cadastrado!'" [sucessoOuFalha]="2" [mostraBtnFecha]="false" *ngIf="mostrarAlerta === 4"></dih-alerta>
                <dih-alerta [mensagem]="'Senhas não batem!'" [sucessoOuFalha]="2" [mostraBtnFecha]="false" *ngIf="mostrarAlerta === 6"></dih-alerta>
                <dih-alerta [mensagem]="'Nome de usuário já está em uso!'" [sucessoOuFalha]="2" [mostraBtnFecha]="false" *ngIf="mostrarAlerta === 8"></dih-alerta>
                <dih-alerta [mensagem]="'Não foi possível cadastrar!'" [sucessoOuFalha]="mostrarAlerta" [mostraBtnFecha]="false" *ngIf="mostrarAlerta === 2"></dih-alerta>
                <dih-alerta [mensagem]="'Usuário cadastrado com sucesso!'" [sucessoOuFalha]="mostrarAlerta" [mostraBtnFecha]="false" *ngIf="mostrarAlerta === 1"></dih-alerta>
                <button type="button" class="btn btn-primary botao" [disabled]="!formRegistro.valid" (click)="cadastrarUsuario()">Cadastrar</button>
            </div>
        </div>
    </div>
    </div>
</div>