.logo {
    width: 100%;
    height: 100%;
}

.botao {
    padding: 5%;
    font-size: 85%;
    text-align: center;
}

.botao:hover {
    background-color: #2B7111;
    border-color:#2B7111;
    color:white;
}

.ativo {
    background-color: #2B7111;
    border-color: #2B7111;
    color: white;
}

.telaPequena {
    display: inline;
}

@media (max-width: 560px) {
    .telaPequena {
        display: none;
    }

    .botao {
        font-size: 200%;
    }
}

