.logo {
    width: 100%;
    height: 100%;
}

.botao {
    color: #FF6200;
    padding: 5%;
    font-size: 75%;
    text-align: center;
}

.botao:hover {
    background-color: #FF6200;
    border-color:#FF6200;
    color:white;
}

.ativo {
    background-color: #FF6200;
    border-color: #FF6200;
    color: white;
}

.telaPequena {
    display: inline;
}

@media (max-width: 560px) {
    .telaPequena {
        display: none;
    }

    .botao {
        font-size: 200%;
    }
}

span {
    padding: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
