<div class="d-flex flex-column">
    <img class="logo" src="../../../assets/img/logo.png" alt="logo">
    <div class="flex-row botao" [ngClass]="{'ativo': dashAtivo}">
            <span><fa-icon [icon]="faChartPie"></fa-icon> Dashboard</span>
    </div>
    <div class="flex-row botao" [ngClass]="{'ativo': unidAtivo}">
        <span><fa-icon [icon]="faBookOpen"></fa-icon> Unidades Consumidoras</span>
    </div> 
    <div class="flex-row botao" [ngClass]="{'ativo': cadastroAtivo}">
        <span><fa-icon [icon]="faGear"></fa-icon> Cadastro de Consumo</span>
    </div>
</div>