<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image cap">
                <div class="card-header">
                    Total de Unidades
                </div>
                <div class="card-body">
                    <p class="card-text">{{totalUnidades}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/like.png" alt="Card image cap">
                <div class="card-header">
                    Unid. Ativas
                </div>
                <div class="card-body">
                    <p class="card-text">{{unidadesAtivas}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/dislike.png" alt="Card image cap">
                <div class="card-header">
                    Unid. Inativas
                </div>
                <div class="card-body">
                    <p class="card-text">{{unidadesInativas}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image cap">
                <div class="card-header">
                    Média Consumo (kW)
                </div>
                <div class="card-body">
                    <p class="card-text">{{mediaConsumo}}</p>
                </div>
            </div>
        </div>
    </div>
    <dih-grafico></dih-grafico>
</div>