.card-body {
    font-size: 200%;
    text-align: center;
}
.card-image-top {
    width: 100%;
    height: 75%;
}

.card-header {
    text-align: center;
    border: none;
}
.card {
    border: none;
}