<div class="container-fluid">
    <dih-alerta [mensagem]="'Geração cadastrada com sucesso!!!'" [sucessoOuFalha]="mostraAlerta" [mostraBtnFecha]="true" *ngIf="mostraAlerta === 1"></dih-alerta>
    <dih-alerta [mensagem]="'Não foi possível carregar os dados da página, favor atualizar a página.'" [sucessoOuFalha]="mostraAlerta" [mostraBtnFecha]="true" *ngIf="mostraAlerta === 2"></dih-alerta>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image cap">
                <div class="card-header">
                    Total de Unidades
                </div>
                <div class="card-body">
                    <p class="card-text">{{totalUnidades}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/like.png" alt="Card image cap">
                <div class="card-header">
                    Unid. Ativas
                </div>
                <div class="card-body">
                    <p class="card-text">{{unidadesAtivas}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/dislike.png" alt="Card image cap">
                <div class="card-header">
                    Unid. Inativas
                </div>
                <div class="card-body">
                    <p class="card-text">{{unidadesInativas}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/logo.png" alt="Card image cap">
                <div class="card-header">
                    Média Geração(kW)
                </div>
                <div class="card-body">
                    <p class="card-text">{{mediaGeracao.toFixed(2)}}</p>
                </div>
            </div>
        </div>
    </div>
    <dih-grafico></dih-grafico>
</div>