<div class="container-fluid">
    <div class="alerta alert alert-success alert-dismissible" data-toggle="alert" role="alert" *ngIf="mostraAlerta === 1">
        Unidade cadastrada / atualizada com sucesso!!!
        <span class="close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close">X</span>
    </div>
    <div class="alerta alert alert-danger alert-dismissible" data-toggle="alert" role="alert" *ngIf="mostraAlerta === 2">
        Unidade não cadastrada / atualizada!!!
        <span class="close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close">X</span>
    </div>
    <div class="row">
        <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Cadastrar nova unidade" routerLink="/cadastro-unidade"><span><fa-icon [icon]="faStar"></fa-icon></span> Cadastrar nova unidade</button>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Apelido</th>
                        <th>Local</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unidade of listaUnidades">
                        <td>{{unidade.id}}</td>
                        <td>{{unidade.apelido}}</td>
                        <td>{{unidade.local}}</td>
                        <td>{{unidade.marca}}</td>
                        <td>{{unidade.modelo}}</td>
                        <td>
                            <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Editar" (click)="editarUnidade(unidade.id)"><span><fa-icon [icon]="faPencil"></fa-icon></span></button>
                        </td>
                        <td>
                            <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remover" (click)="removerUnidade(unidade.id)"><span><fa-icon [icon]="faRemove"></fa-icon></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
