
tr:hover {
    background-color: #FF6200;
    color: white;
}

thead > tr:hover {
    background-color: white;
    color: black;
}

.table > thead {
    color: black;
}

.row {
    margin-bottom: 2.5%;
}

.btn-primary {
    background-color: #FF6200;
    border-color: #FF6200;
}
