.botao {
    padding: 5%;
    text-align: center;
    background-color: #EC6500;
    border-color:#EC6500;
    color: white;
    width: 100%;
    margin: 2.5%;
}

.logo {
    width: 30%;
    height: 30%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    margin: 2.5%;
}

img{
    margin: 10px;
}

.imagemLogin {
    position: center;
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/img/login1.jpg);
    background-size: cover;
}