@font-face {
    font-family: 'Mustica';
    src: url('../src/assets/fonts/MusticaPro-SemiBold.otf');
}

* {
    font-family: Mustica;
}

.alerta {
    display: flex;
    justify-content: space-between;
}