.menuLateral {
    height: 100vh;
    padding: 0;
    border: 1px solid red;
}

.titulo {
    border: 1px solid blue;
    width: 100%;
    padding: 5%;
    text-align: center;
}

.conteudo {
    height: 100%;
    border: 1px solid greenyellow;
}
